.idea
/build/
/build_debug/
/build-debug/
/build_release/
/build-release/
/build_64/
/build-64/
/build_profile/
/build-profile/
/build2/
/build2_debug/
/build2-debug/
/build2_release/
/build2-release/
/build2_64/
/build2-64/
/build2_profile/
/build2-profile/
